[submodule "front"]
	path = front
	url = https://github.com/Vicarium/rootlet-front.git
[submodule "back"]
	path = back
	url = https://github.com/Vicarium/rootlet-back.git
[submodule "events"]
	path = events
	url = https://github.com/Vicarium/rootlet-events.git
